@import '@shared/var.scss';

#newsManagePage {
  .news-list {
    flex-basis: 380px;
    margin-right: 20px;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 18px;
        flex-basis: 200px;
      }
      .addnews {
        color: $subThemeColor;
        border-radius: 4px;
        padding: 4px 10px;
        background-color: #eee;
      }
    }
  }
  .news-detail {
    flex: 1;
  }
}

#newsAdd {
  .news-form-item {
    display: flex;
    margin: 20px 0;
    align-items: center;
    .title {
      color: #999;
      flex-basis: 6em;
      text-align: right;
      margin-right: 10px;
      flex-shrink: 0;
      &::after {
        content: ':';
      }
    }
    .input {
      flex: 1;
      label {
        width: 100px;
        height: 100px;
        display: inline-block;
        border: 1px solid #eee;
      }
    }
  }
}
