@import '@shared/var.scss';

#LoginPage {
  flex-direction: row;
  .bg {
    flex-basis: 60%;
    background: $bgColor url('~@assets/WechatIMG7.jpeg') center/cover no-repeat;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    .form {
      margin: auto;
      width: 400px;
      padding: 16px;
      &-title {
        font-size: 28px;
        margin-bottom: 100px;
      }
      &-item {
        margin-bottom: 26px;
      }
      &-btn-wrapper {
        margin-top: 50px;
      }
    }
  }
}
